.App {
    /* text-align: center;
    margin-top: none;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

h1 {
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: #0ccac4;
}
